{% load static %}
<input class="dark-light" type="checkbox" id="dark-light" name="dark-light"/>
<label for="dark-light"></label>

<div class="light-back"></div> 

<div class="sec-center"> 	
  
</div>


<div class="container-fluid gx=0">
    <div class="row" style="height:10.1vh;">
        {% include 'navbar.html' %}
    </div>
    <div class="row gx-0 height: calc(100% - 9vh;)">
        <div class="col" style="max-width: 10.5vw;">
            
            {% include 'sidebarS.html' %}
        </div>
        <div class="col">
            {% block content %}

            {% endblock content%}
        </div>

    </div>

</div>
  <a href="courseRequests" style="text-decoration:none">
    <button class= "sidebar" href="#">Course Requests</button>
  </a>
  <a href="courseSchedule" style="text-decoration:none">
    <button class= "sidebar" href="#">Course Schedule</button>
  </a>
  <a href="account" style="text-decoration:none">
    <button class= "sidebar" href="#">Accounts</button>
  </a>
  <a href="bellSchedule" style="text-decoration:none">
    <button class= "sidebar" href="#">Bell Schedule</button>
  </a>
</div> 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Course Scheduling</title>
    <link rel="stylesheet" type="text/css" href={% static "styling.css" %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>



<body>
    <div style="position: fixed; bottom: 0; left: 15%; width: 48%; height: 75%;">
        <h3> Please Enter You Student ID To View Your Schedule</h3>
        <form method="post" action="{% url 'view_schedule' %}" name="your_form"> 
            {% csrf_token %} 
            <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-column">
                    <div>
                        <label for="input_student_id">Student Id</label>
                    </div>
                    <div>
                        <input type="number" class="form-control" id="input_student_id" name="input_student_id" min="100000" max="999999" placeholder="888888" required></input>
                    </div>
                    </div>
            </div>
            <button type="submit" id="submit_btn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>