
	<style type="text/css">
		.sidenav {
			height:100%;
			width: 172px;
			position: fixed;
			z-index:1;
			top: 80px;
			left:0;
			background-color:#5293E3;
			overflow-x: hidden;
			padding-top:30px;
			margin-top:70px;
		}
 
		.sidenav button {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			display:block;
		}
 
		.sidenav button:hover{
			color:#f1f1f1;
		}	
 
		.main{
			margin-left:160px;
			padding: 0px 10px;
		}
		.sidebar{
			background-color: #CCCCCC;
			font-style: oblique;
			width:172px; 
		}
 
	</style>

 

	<div class="sidenav">
		<a href="courseRequests" style="text-decoration:none">
			<button class="sidebar" href="#">Course Requests</button>
		</a>
		<a href="courseSchedule" style="text-decoration:none">
			<button class="sidebar" href="#">Course Schedule</button>
		</a>
		<a href="account" style="text-decoration:none">
			<button class="sidebar" href="#">Accounts</button>
		</a>
		<a href="bellSchedule" style="text-decoration:none">
			<button class="sidebar" href="#">Bell Schedule</button>
		</a>
	</div>
	
